<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills Lab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WELCOME!</h1>
    <a href="/skills">START</a>
  </body>
</html>
